<?xml version="1.0"?>
<robot name="robot_torso" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="load_torso_gazebo" params="prefix">

    <transmission name="${prefix}main_cam_yaw_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}main_cam_yaw_joint">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}main_cam_yaw_actuator">
          <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}main_cam_pitch_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}main_cam_pitch_joint">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}main_cam_pitch_actuator">
          <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>
</robot>
